.collapsible {
    background-color: #ffdcae;
    font-family: "Niconne", cursive;
    font-weight: 800;
    color: #001528;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 30px;
    border-radius: 15px;
    margin-top: 5px;
    margin-bottom: 5px;
    transition-duration: 0.3s;
  }
  
  .active, .collapsible:hover {
    background-color: #ffcf90;
  }
  
  .collapse-content {
    margin: 5px;
    padding: 0 18px;
    display: none;
    overflow: hidden;
  }

  .card-product {
    padding: 0px 25px;
    background-color: rgba(255, 255, 255, 0.05);
    backdrop-filter: blur(6px);
    box-shadow: 0px 5px 8px 3px rgba(0, 0, 0, 0.3);
    border: 1px solid #ffdcae33;
    border-radius: 20px;

    display: flex;
    flex-direction: row;
    justify-content: space-between;

    margin-top: 15px;
    margin-bottom: 10px;
  }
  .card-product-text {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: start;
  }
  .card-product-cta {
    display: flex;
    align-items: center;
    justify-content: center;

  }
  .card-product-cta button {
    padding: 10px 15px;
    border-radius: 10px;
    border: none;
    background-color: #fefffe;
    transition-duration: 0.1s;
  }
  .card-product-cta button:hover {
    cursor: pointer;
    background-color: #d1d1d1;
  }
  .card-product-cta button:active {
    cursor: pointer;
    background-color: #d1d1d1;
    padding: 8px 15px;
  }