@import url('https://fonts.googleapis.com/css2?family=Domine:wght@400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Imperial+Script&family=Niconne&family=Noto+Serif:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
    padding: 0;
    margin: 0;
    font-family: "Domine", serif;
    background-color: #001528;
    color: #fefffe;
}
.alert-danger {
    width: 95%;
    padding: 15px;
    background-color: #ff4757;
    border-radius: 15px;
}
.auth {
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    flex-direction: column;
    gap: 55px;
}
.auth input[type='email'], input[type='password'] {
    width: 550px;
    height: 50px;
    font-size: 20px;
    color: #fefffe;
    background: none;
    border: 1px solid #fefffe;
    border-radius: 15px;
    padding: 0px 25px;
}
.auth input[type='submit'] {
    background-color: #ffcc8a;
    color: #001528;
    font-size: 20px;
    height: 50px;
    border-radius: 15px;
    border: 1px solid ;
}
.hr {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70%;
}
hr {
    background-color: #fefffe;
}
nav  {
    position: absolute;
    left: 50%;
    top: -15px;
    transform: translateX(-50%);
    
    z-index: 99;
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav .user-section {
    width: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
}
.nav-name {
    color: #fefffe;
    text-decoration: none;
    font-size: 18px;
}
nav .user-section a {
    color: #fefffe;
    text-decoration: none;
    font-size: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
}
nav .user-section a:hover {
    color: #d2d2d2;
}

.image-header {
    height: 100%;
    width: 100%;
    filter: brightness(25%);
}
.header-title {
    z-index: 98;
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;

}
.header-title h1 {
    color: white;
    font-size: 65px;
}
.header-title h2 {
    font-family: "Niconne", cursive;
    font-size: 40px;
    font-weight: 400;
    color: #ffdcae;
}
.CTO {
    gap: 50px;
}
.main-cta {
    background-color: #ffdcae;
    padding: 15px 25px;
    text-decoration: none;
    color:#473815;
    font-weight: 900;
    
    transition-duration: 0.5s;
}
.secondary-cta {
    background-color: #fefffe;
    padding: 15px 25px;
    text-decoration: none;
    color:#473815;
    font-weight: 900;

    transition-duration: 0.5s;
}
.secondary-cta:hover {
    background-color: #d2d2d2;

}
.main-cta:hover {
    background-color: #ffcc8a;
}
.gradient {
    position: absolute;
    top: 90%;
    height: 100px;
    width: 100%;
    background: linear-gradient(#ffffff00, #001528);
}
.content {
    margin-top: 150px;
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    width: 70%;   
}
.content-2 {
    margin-top: 150px;
    position: absolute;
    top: -15%;
    left: 50%;
    transform: translateX(-50%);
    width: 70%;
}
.cards {
    display: flex;
    flex-direction: row;
    gap: 150px;
    margin-bottom: 150px;
}
.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    
    text-align: center;
}
.card h2 {
    color: #ffdcae;
}

.notre-carte {
    margin-top: 150px;
    text-align: center;
}
.notre-carte h1 {
    color: #fefffe;
    font-family: "Domine", serif;
}
.notre-carte h3 {
    font-family: "Niconne", cursive;
    font-size: 40px;
    font-weight: 400;
    color: #ffdcae;
}
.innershadow {
    border-radius: 10px;
}

