.panier-container {
    background-color: rgba(255, 255, 255, 0.05);
    backdrop-filter: blur(6px);
    box-shadow: 0px 5px 8px 3px rgba(0, 0, 0, 0.3);
    border: 1px solid #ffdcae33;
    border-radius: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
    width: 600px;
    display: flex;
    align-items: start;
    flex-direction: column;
    gap: 35px;
}
ul {
    line-height: 30px;
}